*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.header_fondo {
    background-color: #040507;
}
.nav__bar {
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 0%;
    right: 0%;
    margin-right: 1rem;
    margin-top: 1rem;
    z-index: 1;
}
.nav__link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 4px;
}
.main__fondo{
    background-color: #fad2d3;
}
.formato__titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: green;
    font-size: 70px;
}
.formato__video {
    padding: 1rem;
    text-align: center;
}
.formato__subtitulo1 {
    margin: 1rem;
    text-align: center;
    color: black;
    font-family: serif;
}
.texto__presentacion {
    margin: 0 auto;
    color: #040507;
    text-align: center;
    background-color: grey;
    width: 900px;
    height: 80px;
}
.section__galeria {
    
}
.formato__TituloImagenes {
    margin: 1rem;
    padding: 1rem;
    color: black;
    background-color: chocolate;
    text-align: center;
    border-radius: 6px;
}
.formato__tarjeta {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 410px;
    background-color: aqua;
    border-radius: 16px;
    text-align: center;
    margin: 10px;
    padding: 3px 1rem 30px 1rem;
}
.formato__imagenes {
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
    left: 40px;
    background-color: palevioletred;
    padding: 10px 8px 10px 8px;
    top: 3px;
    border-radius: 16rem;
}
.tarjeta__parrafo {
    color: grey;
}
.formato__footer {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
.formato__formulario {
    color: black;
    display: flex;
    position: absolute;
    }
.formulario {
}
.suscripcion_ingreseemail {
    display: flex;
    position: relative;
    left: 100px;
    bottom: 40px;
}
.suscripcion__relleno {
    display: flex;
    position: absolute;
    left: 100px;
    bottom: 20px;
}
.formulario__boton {
    display: flex;
    position: absolute;
    left: 250px;
    bottom: 20px;
}
.formato__suscripcion {
    text-align: left;
    display: flex;
    position: absolute;
    bottom: 60px;
    left: 100px;

}
.formato__footer2 {
    color: black;
    text-align: center;
}
.formato__derechos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    position: absolute;
    bottom: -8px;
    left: 600px;
}
.footer {
    position: relative;
}
.formato__footerlink {
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 0%;
    right: 0%;    
}
.logotipo__footer {

}
.footer__link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;     
    padding: 5px;
    margin-right: 1rem;
}
.tarjeta__descuento {
    background-color: brown;
    color: white;
    padding: 4px 5px;
    display: inline-block;
    border-radius: 16px;
    position: absolute; /* cambie al padre a relative para que quede bien */
    top: 0px;
    right: 0px;
}
.tarjeta__agotarstock {
    background-color: lawngreen;
    color: black;
    border: 1px solid;
    padding: 4px 5px;
    display: inline-block;
    border-radius: 16px;
    position: absolute; /* cambie al padre a relative para que quede bien */
    top: 0px;
    right: 0px;
}
.formato__tituloproductos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: green;
    font-size: 50px;
    background-color: aquamarine;
}
.contenedor {
    }
.main__fondoproductos {
    }
.contenedor__productos {
    padding: 1rem 30%;
    background-color: aquamarine;
    min-height: 500px;
    display: grid;
    grid-template-columns: 50% 50% 50% 50%;
    grid-template-rows: 40% 40% 40% 40%;
    grid-template-areas:
        "ele1 ele1 ele2"
        "ele3 ele4 ele5"
        "ele6 ele7 ele7"
        "ele8 ele8 ele9"
        "ele10 ele12 ele13"
        "ele14 ele12    .";
        justify-content: space-evenly;
}
.galeria__productosimagen {
    width: 90%;
    height: 90%;
}
.imagen__1 {
    grid-area: ele1;
}
.imagen__2 {
    grid-area: ele2;
}
.imagen__3 {
    grid-area: ele3;
}
.imagen__4 {
    grid-area: ele4;
}
.imagen__5 {
    grid-area: ele5;
}
.imagen__6 {
    grid-area: ele6;
}
.imagen__7 {
    grid-area: ele7;
}
.imagen__8 {
    grid-area: ele8;
}
.imagen__9 {
    grid-area: ele9;
}
.imagen__10 {
    grid-area: ele10;
}
.imagen__11 {
    grid-area: ele11;
}
.imagen__12 {
    grid-area: ele12;
}
.imagen__13 {
    grid-area: ele13;
}
.imagen__14 {
    grid-area: ele14;
}
