@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formato__titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: green;
  font-size: 70px;
}

.transition {
  transition: transform 2s;
}

.transform__titulo:hover {
  transform: scale(1.3);
}

.formato__video {
  padding: 1rem;
  text-align: center;
}

.formato__subtitulo1 {
  margin: 1rem;
  text-align: center;
  font-family: serif;
  font-size: 50px;
}

.animacion__subtitulo {
  animation-name: subtitulo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes subtitulo {
  0% {
    color: #0d8af0;
  }
  50% {
    color: #0dbf42;
  }
  100% {
    color: blue;
  }
}
.texto__presentacion {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 25px;
  text-align: center;
  background-color: grey;
  width: 90%;
  height: auto;
}

.tracking-in-expand:hover {
  -webkit-animation: tracking-in-expand 6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 6s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.ultimos__productos {
  text-align: center;
}

.subtitulo__ultimosproductos {
  font-size: 300%;
}

.ultimosproductos__parrafo {
  color: green;
  font-size: 150%;
}

.carousel__tamaño {
  width: 70%;
  height: 70%;
  left: 15%;
}

.fondo {
  background-image: url(../imagenes/fondo.jpg);
}

.nav__alineacion {
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-areas: "ele1 ele2";
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 3px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", Verdana, Geneva, Tahoma, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav__titulo {
  color: brown;
  text-decoration: none;
}

.img__logo {
  width: 40px;
  margin-right: 2px;
}

.nav__paginas {
  padding: 2px;
  text-decoration: none;
  color: brown;
}

.formato__footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "ele1" "ele2" "ele3";
}

.footer__logotipo {
  grid-area: "ele1";
  justify-self: center;
}

.derechos {
  text-align: center;
  grid-area: "ele3";
}

.formato__derechos {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer__links {
  grid-area: "ele2";
}

.formato__footerlink {
  list-style-type: none;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  align-self: center;
  justify-content: center;
}

.footer__linkwhatsapp {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #0dbf42;
  font-size: 32px;
}

.footer__linkinstagram {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #bf4476;
  font-size: 32px;
}

.footer__linkfacebook {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 1px;
  color: #0d8af0;
  font-size: 32px;
}

.contacto__texto {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
}

.imagen__contacto {
  border-radius: 50%;
}

.footer__configuracion {
  padding-top: 8%;
}

.titulo__encontranos {
  text-align: center;
  padding: 1rem;
  font-size: 88px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.encontranos__texto {
  text-align: center;
  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
}

.galeria__titulo {
  font-size: 30px;
  margin-bottom: 2rem;
  color: blueviolet;
  text-align: center;
}

.efecto__subtitulo:hover {
  color: #0d8af0;
}

.galeria__contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.contenedor__productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "ele1 ele2 ele3" "ele1 ele4 ele4" "ele5 ele6 ele7" "ele5 ele8 ele9";
  gap: 1rem;
  padding-bottom: 1rem;
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.efecto__galeria:hover {
  transform: scale(1.2);
  border: 4px solid orange;
}

.galeria__productosimagen {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 8px;
}

.efectotiempo {
  transition: transform 2s;
}

.imagen__1 {
  grid-area: ele1;
  height: 100%;
  width: 100%;
}

.imagen__2 {
  grid-area: ele2;
}

.imagen__3 {
  grid-area: ele3;
}

.imagen__4 {
  grid-area: ele4;
  width: 90%;
}

.imagen__5 {
  grid-area: ele5;
  height: 100%;
  width: 100%;
}

.imagen__6 {
  grid-area: ele6;
}

.imagen__7 {
  grid-area: ele7;
}

.imagen__8 {
  grid-area: ele8;
}

.imagen__9 {
  grid-area: ele9;
}

@media screen and (max-width: 1023px) {
  .galeria__productosimagen {
    width: 200px;
    height: 200px;
  }

  .contenedor__productos {
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "ele1 ele2 ele3" "ele4 ele5 ele6" "ele7 ele8 ele9";
  }
}
@media screen and (max-width: 600px) {
  .galeria__productosimagen {
    width: 300px;
    height: 300px;
  }

  .contenedor__productos {
    display: flex;
    flex-direction: column;
  }

  .formato__footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    position: relative;
    left: 25%;
    grid-template-areas: "ele1" "ele2" "ele3";
  }

  .derechos {
    justify-self: center;
    grid-area: ele3;
  }

  .formato__derechos {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 250px;
  }

  .formato__footerlink {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 20px;
  }

  .footer__links {
    grid-area: ele2;
  }

  .footer__logotipo {
    justify-self: center;
    grid-area: ele1;
  }

  .footer__linkwhatsapp {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0dbf42;
    font-size: 32px;
  }

  .footer__linkinstagram {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #bf4476;
    font-size: 32px;
  }

  .footer__linkfacebook {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 1px;
    color: #0d8af0;
    font-size: 32px;
  }
}/*# sourceMappingURL=style.css.map */