@import "parciales/header";
@import "parciales/main";
@import "parciales/footer";
@import "parciales/galeria";
@import "parciales/tarjetas";
@import "parciales/reseteo";
@import "parciales/footer";
@import "parciales/mediaquerys";
@import "parciales/varios";


    
    .formato__formulario {
        color: black;
        display: flex;
        position: absolute;
        }
    .formulario {
    }
    .suscripcion_ingreseemail {
        display: flex;
        position: relative;
        left: 100px;
        bottom: 40px;
    }
    .suscripcion__relleno {
        display: flex;
        position: absolute;
        left: 100px;
        bottom: 20px;
    }
    .formulario__boton {
        display: flex;
        position: absolute;
        left: 250px;
        bottom: 20px;
    }
    .formato__suscripcion {
        text-align: left;
        display: flex;
        position: absolute;
        bottom: 60px;
        left: 100px;    
    }
    
    
    
