* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.formato__tituloproductos {
    text-align: center;
    margin-bottom: 2rem;
}
.galeria__contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
.galeria__titulo {
    font-size: 30px;
    margin-bottom: 2rem;
    color: blueviolet;
}
.galeria__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas:
        "ele1 ele2 ele3"
        "ele4 ele5 ele6";
    gap: 1rem;
}
.galeria__imagenes {
}
.imagen__1 {
    grid-area: ele1;
}
.imagen__2 {
    grid-area: ele2;
}
.imagen__3 {
    grid-area: ele3;
}
.imagen__4 {
    grid-area: ele4;
    width: 100%;
    height: 100%;
}
.imagen__5 {
    grid-area: ele5;
    width: 100%;
    height: 100%;
}
.imagen__6 {
    grid-area: ele6;
    width: 100%;
    height: 100%;
}
