.titulo__encontranos {
    text-align: center;
    padding: 1rem;
    font-size: 88px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
  }
.encontranos__texto {
    text-align: center;
    font-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}
.contenedor__encontranos {
}