.formato__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "ele1" "ele2" "ele3";
}
.footer__logotipo {
    grid-area: "ele1";
    justify-self: center;
}
.derechos {
    text-align: center;
    grid-area: "ele3";
}
.formato__derechos {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer__links {
    grid-area: "ele2";
}
.formato__footerlink {
    list-style-type: none;
    display: grid;
    grid-template-columns: 15% 15% 15%;
    align-self: center;
    justify-content: center;
}
.footer__linkwhatsapp {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #0dbf42;
    font-size: 32px;
}
.footer__linkinstagram {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #bf4476;
    font-size: 32px;
}
.footer__linkfacebook {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;     
    padding: 1px;
    color: #0d8af0;
    font-size: 32px;
}