
.header_fondo {
    background-color: #040507;
}
.nav__bar {
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 0%;
    right: 0%;
    margin-right: 1rem;
    margin-top: 1rem;
    z-index: 1;
}
.nav__fondo {
    background-image: linear-gradient(to left, pink, black);
    color: white;
}
.nav__alineacion {
    text-align: right;
}
.color {
    color: white;
}
.nav__logotipo {
    padding: 1rem;
}
.nav__link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 4px;
}