@media screen and (max-width: 1023px) {
    .footer__link {
        margin-right: 0;
    }
    .section__galeria {
        text-align: center;
    }
    .texto__presentacion {
        width: 500px;
        height: auto;
    }
    .formato__derechos {
        left: 350px;
        bottom: -20px;
    }
    .galeria__productosimagen {
        width: 200px;
        height: 200px;
    }
    .contenedor__productos {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "ele1 ele2 ele3"
        "ele4 ele5 ele6"
        "ele7 ele8 ele9";
    }
}
@media screen and (max-width: 600px) {
    .galeria__productosimagen {
        width: 100px;
        height: 100px;
    }      
}