.galeria__titulo {
    font-size: 30px;
    margin-bottom: 2rem;
    color: blueviolet;
    text-align: center;
}
.efecto__subtitulo:hover {
    color: #0d8af0;
}
.galeria__contenedor {
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor__productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "ele1 ele2 ele3"
        "ele1 ele4 ele4"
        "ele5 ele6 ele7"
        "ele5 ele8 ele9";
    gap: 1rem;
    padding-bottom: 1rem;
    justify-items: center;
    align-items: center;
    position: relative;
    z-index: 1;    
}
.efecto__galeria:hover {
    transform: scale(1.2);
    border: 4px solid orange;
}
.galeria__productosimagen {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
}
.efectotiempo {
    transition: transform 2s;
}
.imagen__1 {
    grid-area: ele1;
    height: 100%;
    width: 100%;
}
.imagen__2 {
    grid-area: ele2;
}
.imagen__3 {
    grid-area: ele3;
}
.imagen__4 {
    grid-area: ele4;
    width: 90%;
}
.imagen__5 {
    grid-area: ele5;
    height: 100%;
    width: 100%;
}
.imagen__6 {
    grid-area: ele6;
}
.imagen__7 {
    grid-area: ele7;
}
.imagen__8 {
    grid-area: ele8;
}
.imagen__9 {
    grid-area: ele9;
}