.formato__tituloproductos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: green;
    font-size: 50px;
}    
.main__fondoproductos {
    background-color: aquamarine;
}

.degradado {
    background-image: linear-gradient(to left, pink, white);
}
.degradado_header {
    background-image: linear-gradient(to left, pink, black);
}
.transition {
    transition: transform 2s;
}
.transform__titulo:hover {
    transform: scale(1.3);
}
.transition__descuento {
    transition: transform 2s;
}
.transform__descuento:hover {
    transform: rotate(360deg);
}
.transition__agotarstock {
    transition: all 3s;
}
.transform__agotarstock:hover {
    transform: translate(-130px, 150px);
}
.animacion__subtitulo {
    animation-name: subtitulo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.contacto__texto {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.imagen__contacto {
    border-radius: 50%;
}
@keyframes subtitulo {
    0% {
        color: #0d8af0;
    }
    50% {
        color: #0dbf42;        
    }
    100% {
        color: blue;
    }
}
.tracking-in-expand:hover {
    -webkit-animation: tracking-in-expand 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}     